[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=FreeCADpath
Comment=3D CAD models & CNC gcode maker
GenericName=CNC gcode maker
Exec=/usr/bin/freecad-path %F
Path=/usr/share/freecad-path
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/scalable/apps/freecad-path.svg
Categories=Application;Science;Math;Education;
StartupNotify=true
#MimeType=application/x-extension-fcstd;

